{% extends "base.html" %}

{% block content %}
<h2>Detailed Analytics</h2>
<div class="row">
    <div class="col-md-6">
        <canvas id="bookingsChart"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="severityChart"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    fetch('/api/analytics/bookings')
        .then(res => res.json())
        .then(data => {
            new Chart(document.getElementById('bookingsChart'), {
                type: 'bar',
                data: {
                    labels: Object.keys(data.status_breakdown),
                    datasets: [{ label: 'Bookings', data: Object.values(data.status_breakdown) }]
                }
            });
        });

    fetch('/api/analytics/incidents')
        .then(res => res.json())
        .then(data => {
            new Chart(document.getElementById('severityChart'), {
                type: 'pie',
                data: {
                    labels: Object.keys(data.severity_breakdown),
                    datasets: [{ label: 'Severity', data: Object.values(data.severity_breakdown) }]
                }
            });
        });
</script>
{% endblock %}